@media(max-width:750px) {
    /*Sobre*/
    .sobre{
        grid-template-columns: 1fr;
    }
    .foto{
        order: 1;
    }
    .content{
        order: 0;
        padding: 80px 20px;
    }
    .content h1{
        margin-bottom: 12px;
    }
    .content h2{
        margin-bottom: 24px;
    }
    .content p {
        margin-bottom: 48px;
        max-width: 75ch;
    }
}
@media (min-width:320px) and (max-width: 480px) {
    /*Inicio*/
    .title{
        font-size: 1rem;
    }
    .subtitle, .subtitle2{
        width: 100%;
    }
    .subtitle h3{
        font-size: 1rem;  
    }
    .subtitle2 h5{
        font-size: .9rem;
    }
    .fale-comigo p{
        font-size: .9rem;
    }

    /*Sobre*/
    .content{
        padding: 40px 20px; 
    }
    .content h1{
        font-size: 2.5rem;
    }
    .content h2{
        font-size: 2rem;
    }
    .content h3{
        margin-bottom: 30px;
    }
}
@media (min-width: 482px) and (max-width: 767px){
    /*Inicio*/
    .title{
        font-size: 1.5rem;
    }
    .subtitle, .subtitle2{
        width: 100%;
    }
    .subtitle h3{
        font-size: 1.5rem;  
    }
    .subtitle2 h5{
        font-size: 1.2rem;
    }
    .fale-comigo p{
        font-size: 1.2rem;
    }

    /*Sobre*/
    .content{
        padding: 50px 30px; 
    }
    .content h1{
        font-size: 2.8rem;
    }
    .content h2{
        font-size: 2.2rem;
    }
    .content h3{
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 980px){
    .title{
        font-size: 1.5rem;
    }
    .subtitle h3{
        font-size: 1.4rem;  
    }
    .subtitle2 h5{
        font-size: 1.2rem;
    }
    .fale-comigo p{
        font-size: 1.2rem;
    }
}

@media(min-width: 320px) and (max-width: 768px){
    .container_acordion{
        text-align: center;
    }
    .container_acordion h1{
        font-size: 2rem;
        text-align: center;
    }
    .accordion{
        font-size: 1.1rem;
    }
    .painel p{
        font-size: 1.1rem;
        text-align: left;
    }

}